<div class='panel panel-default panel-short center-block'>
  <div class='panel-heading'>Sign up</div>
  <div class='panel-body'>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
                        html: { class: 'form-vertical' },wrapper: :vertical_form) do |f| %>
        <fieldset>
          <%= f.input :username, autofocus: true, placeholder: 'myname-89' %>
          <%= f.input :email, placeholder: 'mymail@mail.com' %>
          <% if f.object.password_required? %>
              <%= f.input :password, autocomplete: 'off', placeholder:'eg. X8df!90EO' %>
              <%= f.input :password_confirmation, autocomplete: 'off',  placeholder:'eg. X8df!90EO' %>
          <% end %>
          <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
              <i class='icon-user-add'></i> Sign up
          <% end %>
        </fieldset>
    <% end %>
  </div>
  <div class='panel-footer'>
    <%= render 'devise/shared/links' %>
  </div>
</div>
