<div class='table-responsive'>
    <table class='table table-striped'>
      <thead>
      <tr>
        <th></th>
        <th>Login</th>
        <th>Email</th>
        <th>Is Admin</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= image_tag avatar_url(user) %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.is_admin? ? 'Yes' : 'No' %></td>
            <td>
              <%= link_to user, class: 'btn btn-success' do %>
                  <i class='icon-list-alt'></i> Show
              <% end %>
              <%= link_to edit_user_path(user), class: 'btn btn-warning' do %>
                  <i class='icon-pencil'></i> Edit
              <% end %>
              <% if user.is_admin %>
                  <%= link_to user,method: :delete,data: { confirm: 'Are you sure?' },class: 'btn btn-danger disabled' do %>
                      <i class='icon-trash'></i> Destroy
                  <% end %>
              <% else %>
                  <%= link_to user,method: :delete,data: { confirm: 'Are you sure?' },class: 'btn btn-danger' do %>
                      <i class='icon-trash'></i> Destroy
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>

<%= link_to new_user_path, class: 'btn btn-primary' do %>
    <i class='icon-user-add'></i> New User
<% end %>